{% extends 'base.html' %}
{% block title %} Home {% endblock  %}
{% block content %}

<body>
    <h1 style="color:red">About Page</h1> 
    
    <form action="http://127.0.0.1:5000/register" method="POST">
        Name: <input type="text" name="name" id = "name" autocomplete="off"><br>
        Mobile:<input type="text" name="number" id = "number" autocomplete="off"><br>
        Email:<input type="email" name = "email" autocomplete="off"><br>
        <button type="submit">Submit</button> 
    </form>
    <br>
    <form action="http://127.0.0.1:5000/upload" method="POST" enctype="multipart/form-data" >
     <input type="file" name="file">
     <button type="submit">Upload</button> 
    </form>

    <p style="color:black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta id totam quos amet? Qui dignissimos animi unde ducimus perferendis officiis earum consequuntur repellat? Ipsam corporis ratione fugit exercitationem? Quaerat, repellat!</p>
</body>
{% endblock %}